#! /usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/plowshare PREFIX=/usr $(CURDIR)/setup.sh install

override_dh_fixperms:
	dh_fixperms
	chmod +x $(CURDIR)/debian/plowshare/usr/share/plowshare/core.sh
	find $(CURDIR)/debian/plowshare/usr/share/plowshare/modules/ -name "*.sh" -exec chmod +x {} \;
