#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

package?=plowshare
DESTDIR?=debian/${package}/
export DESTDIR
PREFIX=/usr/
export PREFIX

%:
	dh $@ 
